<p>
  users works!
</p>

<ul>
  <li *ngFor="let item of users">{{item.lastName}}</li>
</ul>

<p *ngIf="user"> userName: {{user.userName}} </p>

<form #f="ngForm" (ngSubmit)="submit(f)">

  <div>
    email: <input ngModel #email type="email" name="email" id="email" />
  </div>
  <div>
    password: <input ngModel #password type="password" name="password" id="password" />
  </div>
  <div>
     <button type="submit">Submit</button>
  </div>

</form>


<div *ngIf="token">
  token: {{ token }}
</div>

<p *ngIf="errorMsg" style="color: red">
  errorMsg: {{ errorMsg }}
</p>